* {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

section {
  width: 80%;
  max-width: 1536px;
  height: 100%;
  margin: 0 auto;
  display: flex;

  .day-content {
    width: 60%;
    padding: 5rem 2rem;

    .feature {
      width: 85%;
      height: 70%;
      display: flex;
      margin: 0 auto;
      opacity: 0;
      animation: appear .9s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

      .text-box {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding-right: 3rem;
        
        & > div{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p.location {
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            margin: 0;
            white-space: nowrap;
  
            img {
              height: 1.3rem;
              margin-right: .5rem;
            }
          }
  
          p.hour {
            font-size: 3rem;
            margin: 1rem 0;
          }
  
          h2.temp {
            font-size: 18vh;
            margin: 0;
            text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
          }
        }

      }

      .svg-container {
        width: 50%;
        opacity: 0;
        animation: toOpacity .9s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;
        
        img, svg{
          width: 100%;
          max-width: 20rem;
        }
      }
    }

    .hours {
      margin: 0 auto;
      width: 80%;
      height: 30%;
      display: flex;
      background: rgba(255, 255, 255, 0.15);
      border-radius: .7rem;
      padding: 1.5rem 3rem;
      justify-content: space-between;
      opacity: 0;
      animation: appear .9s .3s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

      .hour-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        animation: appear .9s .3s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;
        

        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation-delay: #{.4 + $i * 0.1}s;
          }
        }

        .hour,
        .temp {
          font-size: 1.7rem;
        }

        img {
          width: 3rem;
        }
      }
    }
  }

   .right-box{
    width: 40%;
    padding: 5rem 2rem;
    opacity: 0;
    animation: appear .9s .6s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

    .mobile-btn{
        display: none;
    }

    .details-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 35%;

      .box{
        display: flex;
        align-items: center;
        width: 33%;
        margin-bottom: 2rem;
        opacity: 0;
        animation: toScale .9s .6s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation-delay: #{.7 + $i * 0.1}s;
          }
        }

        .icon-cont{
          border-radius: 10px;
          padding: .8rem;
          background: rgba(255, 255, 255, 0.15);
          width: 4rem;
          height: 4rem;
          margin-right: 1rem;

          img{
            width: 100%;
            height: 100%;
          }
        }
        

        & > div{

          span{
            font-size: .8rem;
          }

          h3{          
            font-weight: 500;
            margin: .5rem 0;
            font-size: 1.4rem;

            span{
              font-size: 1.1rem;
              margin-left: 2px;
            }
          }
        }

        &:nth-child(1), &:nth-child(4){justify-content: flex-start;}
        &:nth-child(2), &:nth-child(5){justify-content: flex-start; padding-left: 1.4rem;}
        &:nth-child(3), &:nth-child(6){justify-content: flex-end;}
      }
    }

    .week-content {
      width: 100%;
      height: 65%;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 1rem;
      padding: 1.3rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .box-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        animation: appear .9s .9s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}n) {
            animation-delay: #{1 + $i * 0.1}s;
          }
        }

        &:last-child{
          margin: 0;
        }

        .weekday {
          font-size: 1.5rem;
        }

        & > div{
          display: flex;
          align-items: center;

          img {
            width: 2.8rem;
            margin-right: 3rem;
          }
  
          .temperature {
  
            .max,
            .min {
              font-size: 1.5rem;
            }
  
            .min {
              opacity: .6;
              margin-left: 1rem;
            }
          }
        }

      }
    }
  }

  .touch-background {
    display: none;
  }
}

@media(max-width:1700px){
    section{
        width: 90%;
        max-height: 640px;
        height: calc(100vh - 5rem);

        .day-content, .right-box{
          padding: 3rem 2rem 1rem 2rem;
        }

        .day-content{
            width: 55%;

            .feature {
                width: 80%;

                .text-box{
                    padding-right: 2rem;

                    & > div{

                      p.hour{
                          font-size: 2.4rem;
                      }
  
                      h2.temp{
                          font-size: 10vw;
                          line-height: 1;
                      }
                    }

                }

                .svg-container{
                    img, svg{
                      max-width: 15rem;
                    }
                }
            }

            .hours{
                padding: 1rem 3rem;

                .hour-box{
                    .hour, .temp{
                        font-size: 1.2rem;
                    }

                    img{
                        width: 2.4rem;
                    }
                }
            }
        }

        .right-box{
            width: 45%;

            .details-box{
              .box{
                margin-bottom: 1rem;

                .icon-cont{
                  width: 3.5rem;
                  height: 3.5rem;
                }

                & > div h3{
                  font-size: 1.2rem;
                  span{
                    font-size: .9rem;
                  }
                }
              }
            }

            .week-content {
              padding: 1.5rem;

              .box-line {
                .weekday, & > div .temperature .max, & > div .temperature .min {
                  font-size: 1.1rem;
                }
                
                & > div{
                  img {
                    width: 1.7rem;
                  }
                }

              }
            }            
        }
    }
}

@media(max-width:1350px){
  section .right-box .details-box .box{
    &:nth-child(2), &:nth-child(5){
      padding-left: 0;
    }
  }
}

@media(max-width:1024px){
    section{
      width: 100%;

      .day-content, .right-box{
        padding: 0;
        width: 100%;
      }
        
        .day-content{
            padding-bottom: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .feature{
                animation: appear .9s 0s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;
                height: auto;
                padding: 0 0 5vh 0;
                width: 100%;
                
                .text-box {
                  padding-right: 0rem;

                  & > div{
                    h2.temp{
                      font-size: 11vh;
                    }
  
                    p.hour{
                      font-size: 1.2rem;
                      margin: 0.5rem 0 0.7rem 0;
                      opacity: 0.6;
                    }
  
                    p.location{
                      font-size: .9rem;
  
                      img{
                          display: none;
                      }
                    }
                  }

                }

                .svg-container{
                  padding-left: 1rem;

                  img{
                    max-width: 12rem;
                  }
                }
            }

            .hours{
                width: 100%;
                padding: 1.3rem 1rem;
                max-height: 165px;
                max-width: 450px;
                animation: appear .9s .3s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

                .hour-box{
                    .hour {
                        font-size: .9rem;
                    }

                    .temp{
                      font-size: 1rem;
                    }

                    img{
                        width: 10vw;
                        max-width: 2.8rem;
                      }
                }
            }

            &.blur{
              opacity: .2;
            }
        }

        .right-box {
          position: fixed;
          background: #FFF;
          width: 100vw;
          left: 0;
          height: 75vh;
          bottom: -74vh;
          padding: 0 1rem;
          transition-duration: .8s;
          animation: appear .9s .6s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;
          z-index: 3;

          * {
            color: rgba(255, 255, 255, 0.85);
            text-shadow: none;
          }

          &.active {
            background: rgba(35, 35, 35, 0.8);
            bottom: 0;

            .mobile-btn {
              opacity: .8;
              filter: invert(0.86);

              img.arrow {
                transform: translate(-50%, -50%) rotate(0deg);
              }
            }

            .details-box {
              .box {
                animation: toScale .9s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

                @for $i from 1 through 10 {
                  &:nth-child(#{$i}n) {
                    animation-delay: #{.2 + $i * 0.1}s;
                  }
                }
              }
            }

            .week-content {
              .box-line {
                animation: toScale .9s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;

                @for $i from 1 through 10 {
                  &:nth-child(#{$i}n) {
                    animation-delay: #{.2 + $i * 0.1}s;
                  }
                }
              }
            }
          }

          .mobile-btn {
            position: absolute;
            width: 70vw;
            height: 9.7vw;
            left: 50%;
            transform: translateX(-50%);
            bottom: 100%;
            display: flex;
            transition-duration: .8s;

            img {
              width: 100%;
            }

            img.arrow {
              width: 1rem;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%) rotate(180deg);
            }
          }

          .details-box {
            padding: 1.6rem 1rem 0rem 1rem;
            max-width: 600px;
            margin: 0 auto;

            .box {
              width: 33%;
              animation: none;

              .icon-cont {
                width: 12vw;
                height: 12vw;
                max-width: 4rem;
                max-height: 4rem;
                filter: invert(.2);
                margin-right: .5rem;
                padding: 0.7rem;
              }

              &>div {
                span {
                  font-size: .6rem;
                }

                h3 {
                  font-size: .8rem;
                  margin: 0;

                  span {
                    font-size: .6rem;
                  }
                }
              }
            }
          }

          .week-content {
            padding: .5rem 5vw 5vw;
            max-width: 600px;
            margin: 0 auto;
            background: transparent;

            .box-line {
              border-bottom: 1px solid rgba(255, 255, 255, 0.11);
              padding-bottom: .5rem;
              animation: none;

              .weekday {
                font-size: 4vw;
              }

              &>div {
                img {
                  width: 7vw;
                  margin-right: 1rem;
                }

                .temperature .max,
                .temperature .min {
                  font-size: 4vw;
                }
              }
            }
          }
        }

        .touch-background {
          z-index: -1;
          display: block;
          position: fixed;
          height: 100vh;
          width: 100vw;
          left: 0;
          top: 0;
          background-color: transparent;
          
          &.active {
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 2;
          }
        }
    }
}
