<div class="loader-page">
    <div class="svg-animation">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497.4 615.1">
        <g>
          <path class="a"
            d="M78.4,214.3C-15.1,308.8,1.7,395.9,1.7,395.9s20.2-40.3,76.7-40.3c43.4,0,72.7,15,86.3,40.3,0,0,77.2-86.9,166,0,0,0,78.2-88.8,166.1,0,0,0,6.1-100.9-70.4-173.4-36.6-34.7-99.9-75.9-177.2-75.9-6.2,0-12.2.1-18.1.4-54.6,2.9-98.8,27.1-130.5,49.2" />
          <path class="a"
            d="M231.1,453v89.7a78.2,78.2,0,0,0,8.6,36.2C271,638.6,357,616.5,361.9,562.5V529.3a17.4,17.4,0,0,0-10.1-16.1c-6-2.7-13.8-2.5-21.1,9.2l-.8,25.5c-.2,4.1-4.3,16.2-6.8,19.4-10,12.8-41.3,24.5-57.8-13.5l-.8-195.1-33.4.2V427" />
          <path class="a" d="M228,149.6s-61.3,45.2-63.3,246.3" />
          <path class="a" d="M266.8,149.7c0-3.1,68.1,67.5,63.9,246.2" />
          <path class="a" d="M266.8,146.6c-.3-10.4-2-24.2-5.5-28.3-8-9.3-18.7-8.1-24.9-.3-4.5,5.7-5.4,15.6-5.3,29" />
          <g class="lluvia">
            <line class="a" x1="73.5" y1="81.5" x2="73.5" y2="129.4" />
            <line class="a" x1="432" y1="147" x2="432" y2="194.9" />
            <line class="a" x1="330.9" y1="84.8" x2="330.9" y2="132.6" />
            <line class="a" x1="174.6" y1="81.5" x2="174.6" y2="129.4" />
            <line class="a" x1="18.4" y1="171" x2="18.4" y2="218.8" />
            <line class="a" x1="391.4" y1="63.9" x2="391.4" y2="111.7" />
            <line class="a" x1="228" y1="23.9" x2="228" y2="71.8" />
            <line class="a" x1="122.5" y1="16" x2="122.5" y2="63.9" />
            <line class="a" x1="26.8" y1="9.7" x2="26.8" y2="57.6" />
            <line class="a" x1="448.1" y1="16" x2="448.1" y2="63.9" />
            <line class="a" x1="338" x2="338" y2="47.8" />
          </g>
        </g>
      </svg>
    </div>
</div>
<section *ngIf="currentWeather">
    <div class="day-content" [ngClass]="{'blur': mobileBtn}">
        <div class="feature">
            <div class="text-box">
                <div>
                    <p class="location"><img src="assets/img/ubi.svg" alt=""> {{currentWeather.city.name}}, Argentina</p>
                    <p class="hour">{{currentDay.getHours()}}:{{formatMinutes()}}</p>
                    <h2 class="temp">{{currentWeather.temp}}°</h2>
                </div>
            </div>
            <div class="svg-container"[ngSwitch]="currentWeather.condition.icon">
                <app-luna *ngSwitchCase="'01n'"></app-luna>
                <app-soleado *ngSwitchCase="'01d'"></app-soleado>
                <app-nublado *ngSwitchCase="'03d'"></app-nublado>
                <app-noche-poco-nublado *ngSwitchCase="'04n'"></app-noche-poco-nublado>
                <app-dia-poco-nublado  *ngSwitchCase="'04d'"></app-dia-poco-nublado>
                <app-lluvia *ngSwitchCase="'09d'"></app-lluvia>
                <app-luna-lluvia *ngSwitchCase="'10n'"></app-luna-lluvia>
                <app-sol-lluvia *ngSwitchCase="'10d'"></app-sol-lluvia>
                <app-tormenta *ngSwitchCase="'11d'"></app-tormenta>
                <app-nieve *ngSwitchCase="'13d'"></app-nieve>
                <app-niebla *ngSwitchCase="'50d'"></app-niebla>
            </div>
        </div>
        <div class="hours">
            <div class="hour-box" *ngFor="let item of hours">
                <span class="hour">{{item}}</span>
                <img src="assets/img/climas/lluvia.svg" alt="">
                <span class="temp">16°</span>
            </div>
        </div>
    </div>
    <div class="right-box" [ngClass]="{'active': mobileBtn}" *ngIf="currentWeather.boxDetails">
        <div class="mobile-btn" (click)="mobileBtnFunction()" >
            <img src="assets/img/mobile_btn.png" alt="">
            <img class="arrow" src="assets/img/down_arrow.svg" alt="">
        </div>
        <div class="details-box">
            <div class="box" *ngFor="let condition of currentWeather.boxDetails">
                <div class="icon-cont">
                    <img src="assets/img/{{condition.icon}}.svg" alt="" [ngStyle]="{'transform': condition.deg }">
                </div>
                <div>
                    <span>{{condition.descr}}</span>
                    <h3>{{condition.value}}<span>{{condition.unid}}</span></h3>
                </div>
            </div>
        </div>
        <div class="week-content">
            <div class="box-line" *ngFor="let item of days">
                <span class="weekday">{{item}}</span>
                <div>
                    <img src="assets/img/climas/sol_lluvia.svg" alt="">
                    <!-- <app-lluvia></app-lluvia> -->
                    <div class="temperature">
                        <span class="max">21°</span>
                        <span class="min">15°</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="touch-background" [ngClass]="{'active': mobileBtn}" (click)="mobileBtnFunction()"></div>
</section>
