*{
    color: #FFF;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;

    .effects{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        .container{
            width: 100%;
            height: 100%;
            padding: 3rem 2rem;
            z-index: 2;
    
            nav{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                height: 2rem;
    
                .nav-button{
                    font-weight: 400;
                    font-size: 1.3rem;
                    margin: 0;
                    opacity: .7;
                    cursor: pointer;
                    position: relative;
                    user-select: none;
                    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
    
                    &:hover{
                        opacity: 1;
                    }
    
                    &.active{
                        opacity: 1;
    
                        &:before{
                            content: '';
                            position: absolute;
                            bottom: -.5rem;
                            left: 0;
                            width: 0%;
                            height: 2px;
                            background-color: #FFF;
                            animation: navTransition .8s cubic-bezier(0.29, 0.37, 0, 0.99) forwards;
                        }
                    }
                }
    
                .nav-button:first-child{
                    margin-right: 2rem;
                }
            }

            .simulator-btn{
                position: fixed;
                width: 1.8rem;
                top: 1rem;
                left: 1rem;
                cursor: pointer;
                
                &:hover{
                    animation: girar 3s linear infinite;
                }
            }
            
            .simulator{
                z-index: 5;
                position: fixed;
                background: #FFF;
                top: 0;
                left: -20rem;
                border-radius: 0 7px 7px 0;
                width: 20rem;
                padding: 2rem;
                box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);

                *{
                    color: #b3b3b3;
                    font-size: .9rem;
                    font-weight: 400;
                }

                p{
                    font-weight: 500;
                    font-size: 1rem;
                }

                ul{
                    list-style: none;
                    padding: 0;

                    li{
                        border-bottom: 1px solid rgba(179, 179, 179, 0.6);
                        padding: 1rem;
                        user-select: none;
                        cursor: pointer;

                        &:hover{
                            background: rgba(179, 179, 179, 0.1);
                        }
                    }
                }

                &.active{
                    left: 0;
                }
            }

            .touch-close{
                z-index: -1;
                display: block;
                position: fixed;
                height: 100vh;
                width: 100vw;
                left: 0;
                top: 0;
                background-color: transparent;
                cursor: pointer;

                &.active {
                  background-color: rgba(0, 0, 0, 0.1);
                  z-index: 4;
                }
            }
    
            .content{
                height: calc(100% - 2rem);
                padding-top: 2rem;
            }
        }
    }

}

@keyframes navTransition{
    100%{
        width: 103%;
    }
}

@keyframes girar{
    100%{
        transform: rotate(360deg);
    }
}

@media(max-width:1700px){
    section{
        .effects{            
            .container{
                padding: 2rem;

                nav{
                    .nav-button{
                        font-size: 1.1rem;
                    }
                }
                
                .content{
                    padding: 0;
                }
            }
        }
    }
}

@media(max-width:992px){
    section{
        .effects{
            .container{
                padding: 1.5rem 1rem 1rem 1rem;
                
                nav{
                    .nav-button{
                        font-size: 1rem;
                    }
                    .nav-button:first-child{
                        margin-right: 3rem;
                    }
                }

                .simulator-btn{
                    width: 1.3rem;
                    left: initial;
                    right: .9rem;
                    top: .9rem;
                }

                .simulator{
                    width: 80vw;
                    padding: 4vh;
                    max-height: 100vh;
                    overflow-y: auto;
                    
                    ul li{
                        padding: .7rem;
                    }
                }

                .touch-close{
                    cursor: default;
                }
            }
        }
    }
}