svg{
    #nube {
      animation: translateCloud 3.7s infinite alternate ease-in-out;
    }

    #nube-2 {
      animation: translateCloud2 5s infinite alternate ease-in-out;
    }
}

@keyframes translateCloud {
  0% {
    transform: translateX(3%);
  }

  100% {
    transform: translateX(-7%);
  }
}

@keyframes translateCloud2 {
  0% {
    transform: translateX(-3%) translateY(0%);
  }

  100% {
    transform: translateX(7%) translateY(3%);
  }
}