$noche_nublada: linear-gradient(180deg, #14100c, #474042);
$noche_despejada:linear-gradient(180deg, #000000, #353755);
$amanecer: linear-gradient(180deg, #383956, #dc93a3);
$atardecer: linear-gradient(0deg, rgba(250, 229, 137, 1) 0%, rgba(205, 106, 83, 1) 47%, rgba(100, 72, 85, 1) 78%, rgba(73, 63, 85, 1) 100%);
$dia_despejado: linear-gradient(45deg, #0066ff, #7eceff);
$dia_nubes: linear-gradient(180deg, #1a59c8, #83b6f4);
$dia_nublado: linear-gradient(180deg, #616c81, #afb9c4);
