@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800&display=swap');
@import '~src/variables';

*{
    font-family: 'Roboto', sans-serif;
    // font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(0.29, 0.37, 0, 0.99);
    font-weight: 300;
}

body{
    margin: 0;
    width: 100%;
}

// --------------- Climas --------------- //

.dia-despejado{
    background: $dia_despejado;
}

.dia-poco-nublado{
    background: $dia_nubes;
}

.dia-nublado{
    background: $dia_nublado;
}

.dia-lluvioso{
  background: $dia_nublado;
}

.noche-despejada, .noche-poco-nublada{
  background: $noche_despejada;
}

.noche-nublada, .noche-lluviosa{
  background: $noche_nublada;
}

.amanecer-despejado{
  background: $amanecer;
}

.atardecer-despejado{
  background: $atardecer;
}

// --------------- Efectos --------------- //

.soleado{
  background: url(assets/img/soleado.png) no-repeat;
  background-size: cover;
}

.dia-nubes{
  background: url(assets/img/dia_nubes.png) no-repeat;
  background-size: cover;
}

.dia-nubes-lluvia{
  background: url(assets/img/dia_nubes_lluvia.png) no-repeat;
  background-size: cover;
}

.estrellas{
  background: url(assets/img/estrellas.png) no-repeat;
  background-size: cover;
}

.estrellas-nubes{
  background: url(assets/img/noche_nublado_estrellas.png) no-repeat;
  background-size: cover;
}

.noche-nubes{
  background: url(assets/img/noche_nublado.png) no-repeat;
  background-size: cover;
}

.noche-nubes-lluvia{
  background: url(assets/img/noche_lluvia.png) no-repeat;
  background-size: cover;
}

.nubes-anaranjadas{
  background: url(assets/img/atardecer_nublado.png) no-repeat;
  background-size: cover;
}

app-local,
app-world{
    width: 100%;
}

@keyframes appear {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes toScale {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media(max-width:992px){
  .soleado{
    background: url(assets/img/soleado_mobile.png) no-repeat;
    background-size: cover;
  }

  .dia-nubes, .noche-nubes, .nubes-anaranjadas{
    animation: nubesTranslate 32s 0s infinite ease-in-out;
  }

  .dia-nubes-lluvia, .estrellas, .estrellas-nubes, .noche-nubes-lluvia{
    animation: nubesTranslate 200s 0s infinite ease-in-out;
  }

  // --------------- Keyframes --------------- //

  @keyframes nubesTranslate {
    0%{
      background-position: left;
    }
    50%{
      background-position: right;
    }
    100%{
      background-position: left;
    }
  }
}