@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800&display=swap');
@import '~src/variables';

*{
    font-family: 'Roboto', sans-serif;
    // font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(0.29, 0.37, 0, 0.99);
    font-weight: 300;
}

body{
    margin: 0;
    width: 100%;
}

// --------------- Climas --------------- //

.dia-despejado{
    background: $dia_despejado;
}

.dia-nublado{
    background: $dia_nublado;
}

// --------------- Efectos --------------- //

.soleado{
    background: url(assets/img/estados/soleado.png) no-repeat;
    background-size: cover;
}

.lluvia{
    background: url(assets/img/estados/lluvia.png) no-repeat;
    background-size: cover;
}

.nubes-dia{
    background: url(assets/img/estados/dia_nublado.png) no-repeat;
    background-size: cover;
}

app-local,
app-world{
    width: 100%;
}

@keyframes appear {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media(max-width:992px){
  .soleado{
    background: url(assets/img/estados/soleado_mobile.png) no-repeat;
    background-size: cover;
  }
}