svg{
    #container-rayos{
        animation: girar 30s infinite linear;
        transform-origin: center;

        #rayos{
            animation: rayosSol 2s infinite ease-in-out;
            transform-origin: center;
        }
    }

}

@keyframes rayosSol{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}